POSTGRES_PASSWORD=admin
JWT_SECRET_KEY=dev-secret-change-me-please-use-32chars
JWT_ALGORITHM=HS256
ACC_TOKEN_EXP_MIN=60
ADMIN_BOOTSTRAP_EMAIL=alex.arkhangelskiy@yandex.ru
SMTP_SERVER=
SMTP_PORT=587
SMTP_LOGIN=
SMTP_PASSWORD=
MAILTRAP_API_TOKEN=
GITHUB_USERNAME=
GITHUB_PAT=
